@import './_fixed/primary-button_fixed.css';
.primary-button{
    color: #FFF;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    background: #629BE4;
    padding-inline: 40px;
    padding-block: 22px;
    border: none;
    cursor: pointer;
    background-size: 300% 100%;
    background-color: #629BE4;
    background-image: linear-gradient(to right, #475DA7, #475DA7, #04befe, #3f86ed);
    transition: all .4s ease-in-out;
    text-decoration:none;

}

.primary-button:hover {
    transition: all .4s ease-in-out;
    background-position: 100% 0;
    box-shadow: 0 4px 10px 0 hsla(214, 71%, 64%, .7);;
}


