.hero__list{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 354px));
    margin-block-start: 24px;
}

.hero__list > li{
    display: flex;
    gap: 18px;
    align-items: center;
    flex-direction: row;
    padding-block:8px ;   
    inline-size: 100%;
}