@import './__container/hero__container.css';
@import './__date/hero__date.css';
@import './__info/hero__info.css';
@import './__subtitle/hero__subtitle.css';
@import './__title/hero__title.css';
@import './__list/hero__list.css';
@import './__list-header/hero__list-header..css';
@import './__logo/hero___logo.css';
@import './__button/hero__button.css';
@import './__button/_home-work/hero__button_home-work.css';
@import './__wrapper/hero__wrapper.css';
@import './__text/hero__text.css';
@import './__flex/hero__flex.css';

.hero{
    background-image: url('../../img/background-image.png');
    background-position: calc((100% - -10%)/2);
    background-repeat: no-repeat;
    background-size: cover;
    margin-block-end: 27px;
    position: relative;
}


