
.footer__nav-link{
    color: #28337c;
    font-size: 7px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    line-height: 1.2;
    letter-spacing: 0.4px;

}