@import './__nav/header__nav.css';
@import './__nav-list/header__nav-list.css';
@import './__nav-list/_grid/header__nav-list_grid.css';
@import './__nav-link/_bold/headaer__nav-link_bold.css';
@import './__nav-link/header__nav-link.css';
@import './__logo/header__logo.css';
@import './__container/header__container.css';
@import './__logo/_mon/header__logo_mon.css';

.header{
    margin-block-end: 60px;
    position: relative;
    min-block-size: 100px;
}